@import "./css/tailwind/keyframe";
@import "./css/tailwind/animation";
@import "./css/tailwind/color";
@import "./css/tailwind/utiles";
/* @config "./tailwind.config.js"; */
@theme {
  
  --background-stripe-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  --background-stripe-size: 1rem 1rem;
  --breakpoint-3xl: 1920px;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  
    /* ... */
}

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }

  /* Firefox */
  input[type=number] {
    appearance: textfield;
  }
}

@theme {
  --grid-size: 8rem;
  --grid-size-xs: 6rem;
  --grid-size-sm: 10rem;
  --grid-size-md: 14rem;
  --grid-size-lg: 18rem;
  --grid-size-xl: 22rem;
}


@utility grid-auto-fill-* {  
  grid-template-columns: repeat(auto-fill, minmax(--value( --grid-size-*, [*]), 1fr));
}
@utility grid-auto-fill {  
  grid-template-columns: repeat(auto-fill, minmax(var( --grid-size), 1fr));
}

@utility grid-auto-fit-* {  
  grid-template-columns: repeat(auto-fit, minmax(--value( --grid-size-*, [*]), 1fr));
}

@utility grid-auto-fit {  
  grid-template-columns: repeat(auto-fill, minmax(var(--grid-size), 1fr));
}
